*{
    box-sizing: border-box;
}
div {
    /*Это временная граница для разработки*/
    /*outline: 1px dashed #4b6872;*/
    /**/
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    /*background: linear-gradient(#e66465, #9198e5);*/
    background-color: #081313;
    /*background: linear-gradient(#081313, #617890);*/

    color: lightgrey;
    font-family: Verdana, Arial;
    /*font-weight: bold;*/
    font-size: 16px;
}
#app {
    background: linear-gradient(#2e4242, #081313);
    height: 99vh;
    border: none;
}
#header {
    /*box-shadow: 5px 2px 10px 3px #888;*/
    /*background-color: #375a5a;*/
    background-color: #375a5a90;
    border-radius: 5px;
    padding: 5px;
    min-height: 60px;
}
main {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
#pageContent {
    flex-grow: 1;
    /*box-shadow: 5px 2px 10px 3px #000;*/
    background-color: #375a5a90;
    border-radius: 5px;
    padding: 10px;
    /*min-height: 50vh;*/
}
#leftSideBar {
    margin-right: 15px;
    min-width: 15%;
    align-self: flex-start;
}
#rightSideBar {
    margin-left: 15px;
    min-width: 15%;
    align-self: flex-start;
}
#footer {
    /*box-shadow: 5px 2px 10px 3px #888;*/
    background-color: #375a5a90;
    border-radius: 5px;
    padding: 5px;
    justify-content:center;
}
a {
    text-decoration: underline;
    color: #2fd8d8;
}
    a:visited {
        text-decoration: underline;
        color: #2fd8d8;
    }

.neon-button {
    font-size: 1em;
    cursor: pointer;
    background-color: #61789000;
    color: #2fd8d8;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border: 2px solid #2fd8d888;
    border-radius: 0.25em;
    /*margin-left: 0.1em;*/
    /*margin-right: 0.1em;*/
    margin: 0.2em;
    transition-property: color, border, text-shadow, box-shadow;
    transition: 0.25s;
}
    .neon-button:hover {
        color: #58ffff;
        border: 2px solid #58ffff;
        /*text-shadow: 0px 0px 0.125em #ffffff99, 0px 0px 0.5em #2fd8d8;
        box-shadow: 0px 0px 0.5em #2fd8d8, inset 0px 0px 0.5em #2fd8d8;*/
        transition-property: color, border, text-shadow, box-shadow;
        transition: 0.25s;
}
.menu-button {
    color: lightgrey;
    background-color: #61789000;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-top: 1px solid #2fd8d833;
    border-bottom: 1px solid #2fd8d833;
    margin-top: 1px;
    margin-bottom: 1px;
}
    .menu-button:hover {
        background-color: #617890;
    }
.green-text{
    color: green;
}
.red-text {
    color: red;
}
.white-text {
    color: white;
}
.active-input {
    color: #172323;
    background-color: lightgrey;
    border-radius: 10px;
    border: 2px solid #2fd8d8;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.disabled-input {
    color: #172323;
    background-color: darkgrey;
    border-radius: 10px;
    border: 2px solid #2fd8d8;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}