*{
    box-sizing: border-box;
}
div {
    /*Это временная граница для разработки*/
    border: 1px solid #4b6872;
    /**/
    margin: 0px;
    padding: 0px;
}
body {
    margin: 3px;
    padding: 5px;
    background-color: #172323;
    color: lightgrey;
    font-family: Verdana, Arial;
}
#app {
    border: none;
}
#header {
    box-shadow: 5px 2px 10px 3px #888;
    background-color: #375a5a;
    border-radius: 5px;
    padding: 5px;
    flex-grow: 1;
}
main {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
#pageContent {
    flex-grow: 1;
    box-shadow: 5px 2px 10px 3px #888;
    background-color: #375a5a;
    border-radius: 5px;
    padding: 10px;
    min-height: 50vh;
}
#leftSideBar {
    margin-right: 15px;
    width: 15%;
}
#rightSideBar {
    margin-left: 15px;
    width: 15%;
}
#footer {
    box-shadow: 5px 2px 10px 3px #888;
    background-color: #375a5a;
    border-radius: 5px;
    padding: 5px;
    justify-content:center;
}
a {
    text-decoration: underline;
    color: #2fd8d8;
}
    a:visited {
        text-decoration: underline;
        color: #2fd8d8;
    }
button {
    background-color: #617890;
    color: #2fd8d8;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}