/*#createArticleForm{
    display: flex;
    flex-direction: column;
}*/

.formRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
    .formRow label {
        min-width: 200px;
        font-weight: bold;
        font-size: 17px;
    }
    .formRow .input {
        color: #172323;
        background-color: lightgrey;
        border-radius: 10px;
        border: 2px solid #2fd8d8;
        align-self: flex-end;
        flex-grow: 1;
        font-size: 17px;
        margin-left: auto;
    }
    .formRow button {
        min-width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

